:root {
  --primario: #F70C5B;
  --color-fondo: #AB093F;
  --blanco: #FFFF;
}

.btn:hover, .btn:focus{
  background-color: var(--color-fondo);
  color: var(--blanco);
  text-decoration: none;
}

.btn:focus{
border-color:transparent
}

.rose-button{
    gap:10px;
    background-color: var(--color-fondo);
    color: var(--blanco);
    display:flex;
    align-items:center;
    width: 100px;
}

.searchCardContainer {
    overflow: auto;
    height: 400px;
    width: 31.25rem;
    padding-right: 10px;
}

.searchCardContainer div{
    display: flex;
    background-color: var(--color-fondo);
    border-radius:10px;
}

.searchCard{
  height:124px;
}

.infoContainer {
    display:flex;
    flex-direction: column;
    color: var(--blanco);
    justify-content: center;
}

.infoContainer h3{
    margin-bottom:0;
}

img{
    margin:10px;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border-radius:10px;
}

.scroll::-webkit-scrollbar {
  background-color: #f8f8f9;
  width: 6px;
  padding-left: 10px;
  padding-top: 21px;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: var(--color-fondo);
  height: 2px;
  border-radius: 10px;
}

.input-group{
    width: 31.25rem;
}