<nav class="navbar navbar-expand navbar-dark" th:fragment="header">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse segundario" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <img th:src="@{/images/logo.png}" alt="Ejemplo de imagen" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Mi Rutina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Gimnasio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Mi historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Perfil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>