<!DOCTYPE html>
<html>
<head th:replace="templates/head :: head">
</head>
<body>
<div th:replace="templates/header :: header">
</div>
<section class="vh-100">
    <div class="row">
        <div class="col-sm-6">
            <div class="card d-flex h-100  secundario align-items-stretch">
                <form class="p-3" action="#" method="POST">
                    <h3 class="form-signin-heading text-light text-center">Datos de Aptitud Física</h3>
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label text-light" for="altura">Altura (en cm)</label>
                        <input id="altura" class="form-control" required/>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label text-light" for="peso">Peso (en kg)</label>
                        <input id="peso" class="form-control" required/>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label text-light" for="deporte">Deporte</label>
                        <select  id="deporte" class="form-select" required>
                            <option value="">Seleccione...</option>
                            <option value="calistenia">Calistenia</option>
                            <option value="musculacion">Musculación</option>
                            <option value="cardio">Cardio</option>
                            <option value="natacion">Natación</option>

                        </select>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label text-light" for="diasEntrenamiento">Días de Entrenamiento por Semana</label>
                        <input  id="diasEntrenamiento" type="number" class="form-control" required/>
                    </div>
                    <div data-mdb-input-init class="form-outline mb-3">
                        <label class="form-label text-light" for="horasEntrenamiento">Cantidad de Horas de Entrenamiento por Día</label>
                        <input  id="horasEntrenamiento" type="number" class="form-control" required/>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button id="btn-guardar" class="btn primario texto3 btn-lg" type="submit">Guardar</button>

                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<footer th:replace="templates/footer:: footer">
</footer>
</body>
</html>