<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:replace="templates/head :: head">
</head>
<body>
<div th:replace="templates/header :: header">
</div>
<div class="row p-5 text-light justify-content-center">
    <div class="col-md-5 m-2 rounded-xl  bg-white bg-opacity-50">
    <h2 class="">Mis rutinas</h2>
    <div class="summary-card">
        <h3>Resumen de la semana</h3>
        <p class="texto2">4/5 Rutinas cumplidas</p>
        <p class="texto2">-10% Peso</p>
        <p class="texto2">IMC es 21.5</p>
        <p class="texto2">1 Rutinas por hacer</p>
    </div>
    </div>
        <div class="col-md-5 rounded-xl bg-white  bg-opacity-50">
                <div class="col-user ">
                    <img class="profile-img" th:src="@{/img/user-icon.png}" alt="">
                    <p class="user-name">Nombre-Usuario</p>
                </div>
                <div class="col-list ">
                    <p class="to-do-list">Todos mis ejercicios</p>
                    <ul>
                        <li th:each="ejercicio : ${detalleRutina.getListaEjercicios()}">
                            <span th:text="${ejercicio.descripcion}"></span>
                            <span th:if="${ejercicio.realizado}"> - Realizado</span>
                            <span th:unless="${ejercicio.realizado}"> - Por Hacer</span>
                        </li>
                    </ul>
                </div>
            </div>
    <h3>Actualizar Datos</h3>
    <button class="btn" id="btnActualizar">Actualizar</button>
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <h3>Seleccionar ejercicios actualizados:</h3>
            <form id="formActualizar" th:action="@{/actualizarRutina}" method="post">
                <div th:each="ejercicio : ${ejercicios}">
                    <input type="checkbox" th:id="${'ejercicio' + ejercicio.nombre}" th:name="${'ejercicio' + ejercicio.nombre}" th:value="${ejercicio.nombre}" th:checked="${!ejercicio.realizado}">
                    <label th:for="${'ejercicio' + ejercicio.nombre}" th:text="${ejercicio.descripcion}"></label><br>
                </div>
                <button type="submit">Actualizar</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="templates/footer:: footer">
</footer>
</body>
</html>
