<!DOCTYPE html>
<html>
<head th:replace="templates/head :: head">
</head>
<body>
<div class="  h-screen w-full items-center justify-center" style="background-image: url('/img/fondologin.jpg'); background-size: cover;">

    <!-- Columna izquierda para el formulario -->

    <div class="rounded-xl bg-gray-800 bg-opacity-70 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8 mr-4 pt-5">
      <div class="row justify-content-center">
        <div class="col-md-4">
        <form class="p-3" action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}">
          <input type="hidden" th:name="latitud" th:id="latitud" th:field="*{latitud}" />
          <input type="hidden" th:name="longitud" th:id="longitud" th:field="*{longitud}" />
          <h3 class="form-signin-heading text-light text-center">Nuevo Usuario</h3>
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label text-light" for="Email">Nombre</label>
            <input th:field="*{nombre}" id="nombre" class="form-control" required />
          </div>
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label text-light" for="Email">Apellido</label>
            <input th:field="*{apellido}" id="apellido" class="form-control" required />
          </div>
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label text-light" for="Email">Dirección de correo electrónico</label>
            <input th:field="*{email}" id="email" class="form-control" required />
          </div>
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label text-light" for="password">Contraseña</label>
            <input th:field="*{password}" type="password" id="password" class="form-control" />
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button id="btn-registrarme" class="btn btn btn-primary" Type="Submit">Registrarme</button>
            <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
            </p>
          </div>
        </form>
      </div>
        <div class="col-md-4">
          <div id="mapid" style="height: 50vh;"></div>
          <div class="ml-4 text-light" id="coordenadas"></div></div>
      </div>
    </div>

    </div>

</div>


<footer th:replace="templates/footer:: footer">
</footer>
</body>
<script th:inline="javascript">
  $(document).ready(function() {
    var mymap = L.map('mapid').setView([-34.6475, -58.5560], 13); // Coordenadas de Ramos Mejía

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    var marker = L.marker([-34.6475, -58.5560], {draggable: true}).addTo(mymap); // Marcador en Ramos Mejía
    marker.on('dragend', function (event) {
      var marker = event.target;
      var position = marker.getLatLng();
      marker.setLatLng(new L.LatLng(position.lat, position.lng), {draggable: true});

      // Actualizar el div de coordenadas con las nuevas coordenadas
      $('#latitud').val(position.lat.toFixed(6));
      $('#longitud').val(position.lng.toFixed(6));
      $("#coordenadas").text("Latitud: " + $('#latitud').val() + ", Longitud: " + $('#longitud').val());

    });
  });
</script>

</html>