<!DOCTYPE html>
<html>
<head th:replace="templates/head :: head">
</head>
<body>
<div th:replace="templates/header :: header">
</div>
  <section class="vh-100">
    <div class="row">
      <div class="col-sm-6">
        <div class="card d-flex h-100  secundario align-items-stretch">
            <form  class="p-3" action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}">
              <h3 class="form-signin-heading text-light text-center">Nuevo Usuario</h3>
                <div data-mdb-input-init class="form-outline mb-3">
              <label class="form-label text-light" for="Email">Email address</label>
              <input th:field="*{email}" id="email" class="form-control" required/>
                </div>
                <div data-mdb-input-init class="form-outline mb-3">
              <label class="form-label text-light" for="password">Email address</label>
              <input th:field="*{password}" type="password" id="password" class="form-control" required/>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
              <button id="btn-registrarme" class="btn primario  texto3 btn-lg" Type="Submit">Registrarme</button>
              <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
              </p>
                </div>
            </form>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="card d-flex h-100 align-items-stretch">
          <img src="https://i.pinimg.com/564x/25/e9/cf/25e9cfbebbc5eeb3ec11f926aecac4ef.jpg"
               class="img-fluid" alt="Sample image">
        </div>
      </div>

    </div>

  </section>
<footer th:replace="templates/footer:: footer">
</footer>
</body>
</html>