<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/search.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>


</head>
<body>
<div th:replace="templates/header :: header">
</div>
<div class="container d-flex justify-content-center align-items-center flex-column">
    <h2 class="text-center text-white">Encuentra tu lugar ideal</h2>

    <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="Busca por ubicación o tipo de actividad" aria-label="Username" aria-describedby="basic-addon1">
        <button class="btn rose-button text-center justify-content-center font-weight-bold"><i
                class="fa-solid fa-dumbbell"></i></button>
    </div>
    <section class="searchCardContainer mt-3 scroll">
        <span th:if="${error}"  th:text="${error}" class="text-white"></span>
        <div class="mt-1 searchCard" th:each="lugar : ${lugares}">
            <img th:src="@{/img/ZonaRyp.jpg}" alt="">
            <div class="infoContainer">
                <h3 th:text="${lugar.nombre}">Nombre del Lugar</h3>
                <ul th:each="type : ${lugar.type}">
                    <li th:text="${type}"></li>
                </ul>
                <p> <i class="fa-solid fa-location-dot"></i> Distancia <span th:text="${lugar.distancia}"></span></p>
            </div>
        </div>
    </section>
    <section class="map mt-3">
        <div class="mapContainer">
           <!-- <img th:src="@{/img/googleMaps.jpg}" class="mapImg">-->
            <div id="mapid" style="height: 400px; width:100%;"></div>
            <div class=ml-4 id="coordenadas"></div>
        </div>
    </section>
</div>

<footer th:replace="templates/footer:: footer">
</footer>
</body>
<script th:inline="javascript">
    $(document).ready(function() {
      var mymap = L.map('mapid').setView([-34.74973643128108, -58.571734784656066], 13); // Coordenadas de Ramos Mejía

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(mymap);

      var marker = L.marker([-34.74973643128108, -58.571734784656066], {draggable: true}).addTo(mymap); // Marcador en Ramos Mejía
      marker.on('dragend', function (event) {
        var marker = event.target;
        var position = marker.getLatLng();
        marker.setLatLng(new L.LatLng(position.lat, position.lng), {draggable: true});

        // Actualizar el div de coordenadas con las nuevas coordenadas
        $('#latitud').val(position.lat.toFixed(6));
        $('#longitud').val(position.lng.toFixed(6));
        $("#coordenadas").text("Latitud: " + $('#latitud').val() + ", Longitud: " + $('#longitud').val());

      });
    });
</script>
</html>